# Unity YAML
*.mat merge=unityyamlmerge 
*.anim merge=unityyamlmerge 
*.unity merge=unityyamlmerge 
*.prefab merge=unityyamlmerge 
*.physicMaterial2D merge=unityyamlmerge 
*.physicMaterial merge=unityyamlmerge 
*.asset merge=unityyamlmerge 
*.meta merge=unityyamlmerge 
*.controller merge=unityyamlmerge 